<!DOCTYPE html>
<html>
<head>
  <title>Power Calculations In Rebol</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.4/css/bulma.min.css">
</head>

<body>

<script src="https://metaeducation.s3.amazonaws.com/travis-builds/load-r3.js"></script>
<script src="./gui.js"></script>

<!-- this form is taken from https://logrocket.com/blog/an-imperative-guide-to-forms-in-vue-js-2/ -->
<!-- %load-r3.js looks for all "text/rebol" <script> tags and runs them -->
<script type="text/rebol" src="./replpad.reb"></script>
<script type="text/rebol" src="./main.reb"></script>
<script type="text/rebol">
  radd: function [a b c d e][
    sum: 0
    data: reduce [a b c d e]
    result: iterate data [sum: me + data/1]
    js-do/local unspaced [{document.getElementById('rebolresult').innerHTML = } result]
  ]  
</script>

<script>reb.Startup()</script>

<style>
#results {
  position: fixed;
  right: 0;
  top: 10%;
}
</style>
<div class="columns" id="app">
  <div class="column is-two-thirds">
    <section class="section">
      <h1 class="title">Calculate Power Charges using differing Providers</h1>
      <p class="subtitle">
        See how much you are <strong>over paying</strong> for power!
      </p>
      <hr>

      <!-- form starts here -->
      <section class="form">
        <form action='#' method='POST' @submit.prevent="doSubmit()">

          <div class="field">
            <label class="label">Bill Duration</label>
            <div class="control">
              <input name="duration" v-model="form.duration" v-validate="'required|between:1,366'" v-bind:class="{'is-danger': errors.has('duration')}" class="input" type="text" placeholder="The number of days your bill covers">
            </div>
            <p class="help is-danger" v-show="errors.has('duration')">
              {{ errors.first('duration') }}
            </p>
          </div>

          <div class="field">
            <label class="label">Standard Uncontrolled Power Use</label>
            <div class="control">
              <input name="standard" v-model="form.standard" v-validate="'required|min_value:0'" v-bind:class="{'is-danger': errors.has('standard')}" class="input" type="text" placeholder="How many kWh of uncontrolled power appears on your bill">
            </div>
            <p class="help is-danger" v-show="errors.has('standard')">
              {{ errors.first('standard') }}
            </p>
          </div>

          <div class="field">
            <label class="label">Uncontrolled or Night Rate Power Use</label>
            <div class="control">
              <input name="uncontrolled" v-model="form.uncontrolled" v-validate="'min_value:0'" v-bind:class="{'is-danger': errors.has('uncontrolled')}" class="input" type="text" placeholder="If you have a night rate or controlled rate, then the kWh on your bill else 0">
            </div>
            <p class="help is-danger" v-show="errors.has('uncontrolled')">
              {{ errors.first('uncontrolled') }}
            </p>
          </div>

          <div class="field">
            <label class="label">Solar Export</label>
            <div class="control">
              <input name="solar" v-model="form.solar" v-validate="'min_value:0'" v-bind:class="{'is-danger': errors.has('solar')}" class="input" type="text" placeholder="How many kWhs your solar panels generated or 0">
            </div>
            <p class="help is-danger" v-show="errors.has('solar')">
              {{ errors.first('solar') }}
            </p>
          </div>

          <div class="field">
            <label class="label">Bill inc GST</label>
            <div class="bill">
              <input name="bill" v-model="form.bill" v-validate="'required|min_value:0'" v-bind:class="{'is-danger': errors.has('bill')}" class="input" type="text" placeholder="How much you were charged on your bill">
            </div>
            <p class="help is-danger" v-show="errors.has('bill')">
              {{ errors.first('bill') }}
            </p>
          </div>
          
          <div class="field is-grouped">
            <div class="control">

               <button :disabled='errors.any()' class="button is-primary" name='submit_data' value='go'>Submit</button>

              <!--button v-bind:disabled="errors.any()" class="button is-primary"--
                Submit-->
              </button>
            </div>
          </div>

        </form>
      </section>
    </section>
  </div>

  <div class="column">
    <section class="section" id="results">
      <div class="box">
        <ul>
          <li v-for="(item, k) in form">
            <strong>{{ k }}:</strong> {{ item }}</li>
        </ul>

      </div>
    </section>
  </div>
</div>

<div id="rebolresult">
  <!-- put the results of the nzpower function here -->
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js"></script>
<!--// https://baianat.github.io/vee-validate/guide/rules.html-->
<script src="https://unpkg.com/vee-validate@2.0.0-rc.18/dist/vee-validate.js"></script>

<script>

Vue.use(VeeValidate);

new Vue({
  el: "#app",
  data: {
    form: {
      duration: 7,
      standard: "",
      uncontrolled: 0,
      solar: 0,
      bill: ""
    }
  },
  methods: {
      doSubmit() {
       var self = this;
       this.$validator.validateAll().then(function(result){
        if (!result){
            //this means a validation failed, so exit without doing anything
            console.log('did not work')
            return;
        }
        // https://stackoverflow.com/questions/55780631/how-to-access-form-variables-in-method-of-vuejs/55780777#55780777
        reb.Elide("radd", reb.I(self.form.duration), reb.I(self.form.standard),reb.I(self.form.Uncontrolled),reb.I(self.form.solar),reb.I(self.form.bill));
       });
      }
    }
});

</script>


</body>
</html>